<h1 class="text-danger">Signed Out For Inactivity.</h1>
<h2 class="text-danger">You have been signed out due to inactivity, please login from the SSO again to continue.</h2>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
