@model StopAutoSupply



<table id="infoTable" class="table">
    <tbody>
        <tr style="display: none;">
            <th style="display: none;">KEYID</th>
            <td style="display: none;"><input type="text" asp-for="@Model.KEYID" name="KEYID" style="height:auto; width:auto" readonly hidden /></td>
        </tr>
        <tr>
            <th>Description</th>
            <td>@Model.PIDESC</td>
        </tr>

        <tr>
            <th>Status</th>
            <td>
                <select asp-for="@Model.PIDet" name="PIDet">
                    <option value="Enabled">Enabled</option>
                    <option value="Disabled">Disabled</option>

                </select>

            </td>
        </tr>
        <tr>
            <th style="display: none;">Type</th>
            <td style="display: none;">@Model.PIType</td>
        </tr>

    </tbody>

</table>